.jumbotron {
  padding-top: 5rem;
  background-color: #f3f4f5;
}

#portfolio {
  background-color: #f3f4f5;
}

section {
  padding-top: 5rem;
}

#team {
  background-color: #f3f4f5;
}

/* My Key Section */
.key-box {
  position: relative;
  background-color: lightblue;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.key-box::before {
  content: "MY";
  position: absolute;
  color: black;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.key-box:hover::before {
  opacity: 0.2;
}

.key-box::after {
  content: "KEY";
  position: absolute;
  color: black;
  font-size: 4.1em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.key-box:hover::after {
  opacity: 0.2;
}

.key-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}

.key-box:hover .key-name {
  top: 20px;
  opacity: 1;
}

.key-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
}

.key-box:hover .key-detail-button {
  opacity: 1;
  bottom: 20px;
}

.key-img {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate3d(-50%, -52%, 100px);
  max-width: 350px;
  transition: 0.5s;
}

.key-box:hover .key-img {
  transform: translate(-50%, -52%, 100px) rotate(5deg) scale(1.2);
}
